<h2 id="story_header">My Developer's Story</h2>

<div id="story_container">
  <p id="story_text">I didn't have a background in IT until I was in my 20s. I think I came across an internship opportunity
  that I saw on Facebook and applied. A few weeks later I moved across the country from Indiana to Texas to try something
  new. It was overwhelming to say the least. I didn't even know what a variable was. But they were patient with me and
  before long I was building full-stack web apps with Ruby on Rails, HTML, and CSS. I got laid off maybe five months into
  what was supposed to be an 18 month term. I thought it was because of my performance shortcomings being so wet behind the
  ears that I was. Come to find out the truth of the matter was the company was downsizing and decided to let go their newest batch
  of paid interns to right the ship and get back on track financially. I could understand that. It still sucked. However, from
  what I learned there I knew that one day I would be doing this as a web developer. Some way somehow I would make it as a mostly self-
  taught programmer and have an awesome success story to tell. </p>

  <p id="paragraph_2">After maybe a six year hiatus post-internship I finally got back to developing again after I decided in that time frame to do the college thing and get a degree and see where life took me.
  I had much regret for wasting so much time on a dead-end I then returned to my computer and relearned everything. A friend of mine who knew my background happened to be launching his own business
  and he needed a website. He asked me if this was something I could do for him. I said sure! Not knowing what I was getting myself into
  since it had been so long since I had coded and wasn't sure if I'd be up to the task. Well a few months later I had a nice little website for him
  with an admin section as well. He was pleased and that sparked the motivation for me that I could get back on track as a developer and make this a career.
  Since then (late 2018) I have built a couple project apps and have tidied up a small portfolio. My mission has been to really learn a technology stack like Rails, Ruby, Javascript,
  HTML, and CSS for web apps. 2019 I hope to quit driving for Uber and make it a go at being a Rails developer. Hope you enjoyed hearing about my journey.</p>
  <p id="signature">
    David Berko
  </p>
</div>
