<!DOCTYPE html>
<html>

<body>
<h1><%= @project.name %></h1>
<% @project.desktop_images.each do |image| %>

<% end %>
<%= @project.caption %>

<%= link_to "edit", edit_project_path(@project) %>


</body>
</html>
