/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #5965CD;
}

/* Navigation */

#logo {
  a {
    padding-top: 20px;
    float: left;
    font-size: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px #AAA4A3;
    text-decoration: none;
    color: black;
  }
}

nav {
  height: 100px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: thin;
  background-color: white;
}

#nav_container {
  display: inline-block;
  ul {
    float: right;
    li {
      list-style-type: none;
      font-size: 20px;
      font-family: "Arial Black", Gadget, sans-serif;
      text-shadow: 2px 2px #AAA4A3;
      padding-top: 15px;
      display: inline-block;
      padding-right: 10px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}

.project_caption {
  font-size: 20px;
}

#caption_details {
  background-color: white;
  width: 25%;
}

#screenshot_header {
  background-color: white;
  text-align: center;
  width: 75%;
}

#project_container {
  width: 100%;
  margin-left: 25%;
  display: inline-block;
}

.m_img {
  margin-bottom: 50px;
  filter: blur(2px)
}
.m_img:hover {
  position:relative;
  top:-25px;
  left:-35px;
    width:400px;
    height: 600px;
    display:block;
    z-index:999;
    filter: blur(0);
}

.d_img {
  margin-bottom: 50px;
  filter: blur(2px)
}
.d_img:hover {
  position:relative;
  top: 100px;
  right: 400px;
    width:900px;
    height: 600px;
    display:block;
    z-index:800;
    filter: blur(0);
}

#mobile_image_div {
  float: left;
  margin-right: 5%;
}
#destop_image_div {
  float: left;
}

/* About page */

#story_container {
  background-color: white;
  #story_text {
    text-indent: 10px;
    background-color: white;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  #paragraph_2 {
    text-indent: 10px;
    background-color: white;
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  #signature {
    font-family: Apple Chancery, cursive;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
}
